/* Write your global styles here, in PostCSS syntax */
@tailwind base;
:root {
	--red: #d64045ff;
	--violet: #53599aff;
	--blue: #a1b5d8ff;
	--green: #21a179ff;
	--white: #fffcf7ff;
}
@tailwind components;
@tailwind utilities;
